main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
    background-color: rgb(13, 13, 54);
    color: white;
    text-align: center;
    padding: 15px 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 16px;
}

.converter {
    flex: 1;
}